<div class="row project-row">
    <div class="col-lg-4 d-none d-lg-block">
        <p style="font-size: 24px">{{ projectTitle }}</p>
        <p style="font-size: 20px">{{ projectDescription }}</p>
        <p style="font-size: 18px">Stack technologiczny: {{ projectTechStack }}</p>
    </div>
    <div class="col-lg-8 col-12">
        <img src="{{ projectImageSrc }}" class="main-image" alt="{{ projectTitle }} example" />
    </div>
    <div class="d-lg-none col-12">
        <p style="font-size: 24px">{{ projectTitle }}</p>
        <p style="font-size: 20px">{{ projectDescription }}</p>
        <p style="font-size: 18px">Stack technologiczny: {{ projectTechStack }}</p>
    </div>
</div>